.back_btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: none;
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: #202020;
  width: 5rem;
  opacity: 0.9;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}