.back_btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: none;
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: 2px solid #9da5d1;
  width: 5rem;
  background-color: #202020cf;
  transition: transform 0.3s ease;

  &:hover {
    background-color: #202020;
    transform: scale(1.05);
  }
}