.search {
  background-color: #202020;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  & p {
    color: #cfcfcf;
  }
  
  & .search_container {
    display: flex;
    gap: 0.5rem;

    & :is(input, button) {
      padding: 0.6rem;
      border-radius: 3px;
      border: none;
      color: #2b3566;
    }

    & button {
      background-color: transparent;
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      cursor: pointer;
    }

  }
}

